#country-access-table tr {
  background: lightcoral;
}
#country-access-table tr.allowed {
  background: lightgreen;
}
#country-access-table .action {
  color: #232429;
  font-weight: bold;
  outline: none;
  box-shadow: none;
}
